h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
}

label{
  display: flex;
  align-items: center;
}

.layout{
  min-height: 100vh;
  min-width: 100vw;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 61vw;
  justify-content: center;
  min-height: 60vh;
  box-shadow: 0 8px 6px -6px black;
  background-color: white;
}

.box{
  width: 11vw;
  height: 8vh;
  margin: 0.1%;
  border-radius: 5px;
  border-style: solid;
}

.button{
  width: 5vw;
  height: 4vh;
  background-color: rgb(0, 82, 100);
  color: white;
  margin-left: 1vw;
}

.row{
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}

.select{
  height: 4vh;
  width: 16vw;
}

.check{
  height: 4vh;
  width: 4vw
}